<style>
#map-canvas {
	height: 400px;
	margin: 0px;
	padding: 0px
}
</style>

<section data-ng-controller="HomeController">
	<h1>CoverChecker</h1>
	<p>Ouch! Check to see if your injury is covered.</p>
	<form data-ng-submit="check()" novalidate>
			<fieldset>
				<div data-ng-repeat="criterium in criteria">
					<label>
						{{criterium.criteria}}
						<input type="checkbox" data-ng-model="criterium.check" id="{{criterium._id}}">
					</label>
				</div>
				<div class="form-group">
						<input type="submit" value="Am I Covered?" class="btn btn-default">
				</div>
			</fieldset>
	</form>
	<ng-include src="template"></ng-include>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
	<script>
	//google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</section>

<script type="text/ng-template" id="yes">
	<h1><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Yes</h1>
	<p>Here&#39;s where you can go get stitched up:</p>
	<div id="map-canvas" ng-init="initialize()"></div>
</script>

<script type="text/ng-template" id="no">
	<h1 style="color:red;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> No</h1>
</script>
