<section data-ng-controller="HomeController">
	<h1>CoverChecker</h1>
	<form data-ng-submit="check()" novalidate>
			<fieldset>
				<div data-ng-repeat="criterium in criteria">
					<label>
						{{criterium.criteria}}
						<input type="checkbox" data-ng-model="criterium.check" id="{{criterium._id}}">
					</label>
				</div>
				<div class="form-group">
						<input type="submit" value="Am I Covered?" class="btn btn-default">
				</div>
			</fieldset>
	</form>
	<ng-include src="template"></ng-include>
</section>

<script type="text/ng-template" id="yes">
	<h1>Yes</h1>
</script>

<script type="text/ng-template" id="no">
	<h1 style="color:red;">No</h1>
</script>
